# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# spec files
public/specs/kinde-frontend-api-spec.yaml
public/specs/kinde-management-api-spec.yaml
