---
export interface Props {
  value: string;
}

const { value } = Astro.props;
---

<div
  class="c-tab-content"
  id={`tab-content-${value}`}
  role="tabpanel"
  tabindex="0"
  aria-labelledby={`tab-${value}`}
>
  <slot />
</div>

<style>
  .c-tab-content[role="tabpanel"] {
    @apply w-full md:-mt-6;
  }

  .c-tab-content[role="tabpanel"].is-hidden {
    @apply hidden;
  }
</style>
