/* Starlight root properties. We try matching them to our Kinde colors */
/* Light mode colors. */
:root {
  --sl-nav-height: 6rem;
  --sl-color-accent-low: #000;
  --sl-color-accent: #000000;
  --sl-color-accent-high: #000;
  --sl-color-bg-nav: #ffffff;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272727;
  --sl-color-gray-2: #383838;
  --sl-color-gray-3: #585858;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #c2c2c2;
  --sl-color-gray-6: #eeeeee;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-black: #ffffff;
  --sl-icon-color: #0f0f0f;
  --sl-color-text: #0f0f0f;
  --sl-color-text-accent: #000;
  --sl-nav-pad-x: 1rem;
}

/* Dark mode colors. */
:root[data-theme="dark"] {
  --sl-color-accent-low: #242424;
  --sl-color-accent: #000000;
  --sl-color-accent-high: #ffffff;
  --sl-color-bg-nav: #000;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeeee;
  --sl-color-gray-2: #c2c2c2;
  --sl-color-gray-3: #8b8b8b;
  --sl-color-gray-4: #ccc;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-black: #000000;
  --sl-nav-pad-x: 1rem;
  --sl-icon-color: #ffffff;
  --sl-color-text-accent: #fff;
  --sl-color-text: rgba(255, 255, 255, 0.9);
}

html {
  scrollbar-color: auto auto;

  @apply bg-white dark:bg-black scroll-smooth;
}

html[data-theme="dark"] {
  scrollbar-color: #101010 black;

  @apply bg-white dark:bg-black;
}

h1,
.sl-markdown-content h2,
.sl-markdown-content h3,
.sl-markdown-content h4,
.sl-markdown-content h5,
.sl-markdown-content h6,
.group-label span,
.right-sidebar-panel h2,
strong {
  @apply font-medium;
}

h1 {
  font-size: 3rem;
  line-height: 1.0833;
  letter-spacing: -0.03em;
}

.sl-markdown-content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.33333;
}

.sl-markdown-content h3 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.2;
}

.sl-markdown-content h4 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.005em;
  line-height: 1.5;
}

p {
  @apply text-base font-normal tracking-[-0.005em] leading-normal;
}

/* Main template */
.template-doc .sl-markdown-content a:is(:where(:not(.not-content *))),
.sl-markdown-content a:is(:where(:not(.not-content *))) {
  @apply text-kinde-grey-900 hover:text-kinde-grey-900 hover:underline text-inherit underline-offset-[6px] font-normal hover:dark:text-white;
}

/* Sidebar */
#starlight__sidebar > div > ul > li > details > ul > li > details > ul > li {
  @apply border-l-[1px] border-kinde-grey-100 dark:border-kinde-grey-800;
}

.sidebar-content .top-level > li > details > summary {
  padding: 0.625rem 0;
}

.sidebar-content .top-level > li > details > ul {
  padding-inline-start: 0.875rem;
  margin-block-end: 0.5rem;
}

.sidebar-content .top-level > li > details > ul > li {
  border-inline-start: 0;
  margin-inline-start: 0;
  padding-block: 0;
  padding-inline: 0;
}

.sidebar-content .top-level > li > details > ul > li > details > summary {
  border-inline-start: 0;
  margin-inline-start: 0;
  padding: 0.5rem 0;
}

.sidebar-content .top-level li details ul li {
  margin-inline: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  position: relative;
  position: relative;
}

.sidebar-content .top-level li details ul li a[aria-current="page"]::before {
  @apply bg-black dark:bg-white content-[""] h-full w-[2px] absolute left-[-1px] top-0;
}

.sidebar-content .top-level li details ul li a {
  padding-block: 0.6rem;
  padding-inline-start: 0.75rem;
  border-radius: 4px;
}

.sidebar-content .top-level li details ul li a span {
  @apply text-kinde-grey-700 dark:text-kinde-grey-300 duration-300 transition;
}

.sidebar-content .top-level li details ul li a[aria-current="page"] span {
  color: var(--sl-color-white);
  font-weight: 500;
}

.sidebar-content .top-level li details ul li a:hover span {
  color: var(--sl-color-white);
}

.sidebar-content .top-level li details ul li a:hover {
  @apply bg-kinde-grey-50 transition duration-300 dark:bg-kinde-grey-900;
}

.sidebar-content {
  @apply bg-white dark:bg-black;
}

.sidebar-content {
  padding-inline-start: var(--sl-nav-pad-x);
}

.sidebar-content > .top-level > li > details > summary > div.group-label > span {
  font-size: 1rem;
}

.sidebar-content > ul > li > details > ul > li > details > summary > div.group-label > span {
  @apply text-sm text-kinde-grey-800 dark:text-kinde-grey-100 font-normal;
}

.sidebar-content > ul > li > details > ul > li > details > summary > svg {
  color: #bbb;
}

.sidebar-content details > summary > svg {
  transform: rotateZ(90deg);
  transition: none;
}

.sidebar-content details[open] > summary > svg {
  transform: rotateZ(270deg);
}

/* Main frame - <Page /> */
.main-frame {
  @apply bg-white dark:bg-black animate-fade-in;
}

/* Right sidebar container */
.right-sidebar-container {
  width: var(--sl-sidebar-width);
}

/* Right sidebar */
.right-sidebar {
  border-inline-start: none;
}

/* Right sidebar panel */
.right-sidebar-panel h2 {
  font-size: 1rem;
  margin-block-end: 1.5rem;
}

/* Main pane */
@media (min-width: 90rem) {
  [data-has-sidebar][data-has-toc] .main-pane {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    width: calc(100% - var(--sl-sidebar-width));
  }
}

.sl-markdown-content
  :not(h1, h2, h3, h4, h5, h6)
  + :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  margin-block-start: 1.5em;
}

.sl-markdown-content code:not(:where(.not-content *)) {
  @apply bg-kinde-grey-50 dark:bg-kinde-grey-800;
}

.sl-markdown-content p code {
  @apply px-[.4em] py-[.2em] text-sm rounded border-kinde-grey-100 dark:border-kinde-grey-700 dark:bg-kinde-grey-800 border-[1px];
}

.sl-markdown-content blockquote code {
  @apply bg-kinde-grey-100 border-kinde-grey-200 dark:bg-kinde-grey-800 dark:border-kinde-grey-700;
}

:is(:where([data-theme="dark"]) .sl-markdown-content code:not(:where(.not-content *))) {
  @apply px-[.4em] py-[.2em] text-sm rounded border-kinde-grey-100 dark:border-kinde-grey-700 dark:bg-kinde-grey-800 border-[1px];
}

.sl-markdown-content .expressive-code * {
  margin-top: 0;
}

.sl-markdown-content aside:not(.not-content),
.sl-markdown-content blockquote:not(:where(.not-content *)) {
  @apply bg-kinde-grey-50 dark:bg-kinde-grey-900 border-[1px] border-kinde-grey-100 dark:border-kinde-grey-800 border-l-0 rounded-lg p-6;
}

.content-panel + .content-panel {
  border-top: 0;
}

.top-level [aria-current="page"] {
  @apply font-normal rounded-none bg-kinde-grey-50 dark:bg-kinde-grey-800;
}

starlight-toc > nav > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

starlight-toc > nav > ul > li > a > span {
  font-size: 0.875rem;
}

starlight-toc > nav > ul > li > a[aria-current="true"],
starlight-toc > nav > ul > li > a[aria-current="true"]:hover {
  @apply dark:text-white text-kinde-grey-900 bg-transparent font-medium;
}

starlight-toc > nav > ul > li > a:not([aria-current="true"]) > span {
  @apply text-kinde-grey-600 dark:text-kinde-grey-400;
}

starlight-toc > nav > ul > li > a:hover span {
  @apply text-kinde-grey-900 dark:text-white;
}

.social-icons a {
  font-size: 2em;
}

.social-icons a[href*="github"] {
  font-size: 24px;
}

@media (min-width: 72.85rem) {
  :root {
    --sl-nav-pad-x: 1.5rem;
  }

  :root[data-theme="dark"] {
    --sl-nav-pad-x: 1.5rem;
  }

  .sidebar-pane {
    border-inline-end: none;

    @apply bg-white dark:bg-black;
  }
}

@media (min-width: 90rem) {
  .right-sidebar-panel {
    max-width: calc(var(--sl-sidebar-width) - var(--sl-nav-pad-x));
    padding-inline-end: 0;
    display: flex;
  }

  .right-sidebar-panel .sl-container {
    max-width: calc(var(--sl-sidebar-width) - var(--sl-nav-pad-x));
  }
}

.rehype-heading-wrapper .rehype-anchor-link {
  margin-inline-start: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.rehype-heading-wrapper:hover .rehype-anchor-link {
  opacity: 1;
}

.rehype-anchor-link:focus {
  opacity: 1;
}

.rehype-heading-wrapper:not(:first-child):is(.rehype-level-h3, .rehype-level-h4, .rehype-level-h5) {
  margin-block-start: 2em;
}

.rehype-heading-wrapper:not(:first-child):is(.rehype-level-h2):not(.rehype-with-extra-margin) {
  margin-block-start: 3.75em;
}

[aria-labelledby="starlight__on-this-page"] ul li a {
  @apply pl-0;
}

.sl-markdown-content ol ol {
  list-style-type: lower-alpha;
}

.sl-markdown-content table:not(:where(.not-content *)) {
  @apply w-full whitespace-nowrap md:whitespace-normal border-kinde-grey-50 dark:border-kinde-grey-900 border-[1px] table;
}

.table-wrapper {
  @apply w-full block whitespace-normal overflow-x-auto;
}

.sl-markdown-content .table-2-cols {
  @apply w-1/2;
}

.sl-markdown-content td.table-3-cols,
.sl-markdown-content th.table-3-cols {
  @apply w-1/3;
}

.table-4-cols {
  @apply w-1/4;
}

.table-5-cols {
  @apply w-1/5;
}

.table-6-cols {
  @apply w-1/6;
}

.sl-markdown-content :is(th:first-child, td:first-child):not(:where(.not-content *)) {
  @apply pl-4;
}

.sl-markdown-content :is(th:last-child, td:last-child):not(:where(.not-content *)) {
  @apply pr-4;
}

.sl-markdown-content th {
  @apply font-medium text-start p-4 text-sm bg-kinde-grey-50 dark:bg-kinde-grey-900;
}

.sl-markdown-content td {
  @apply py-4 px-4;
}

.sl-markdown-content th,
.sl-markdown-content td {
  @apply border-b-kinde-grey-100 border-b-[1px] dark:border-b-kinde-grey-900;
}

.sl-markdown-content tr {
  @apply text-sm;
}

.sl-markdown-content tbody tr:nth-child(1n):not(:where(.not-content *)) {
  @apply bg-white dark:bg-black;
}

starlight-menu-button button,
starlight-menu-button[aria-expanded="true"] button {
  @apply bg-transparent;
}

.community-sdk span::after {
  content: " (Community)";
  @apply text-xs;
}

.community-sdk::after {
  background-image: url("../icons/arrow-up-right.svg");
  background-repeat: no-repeat;
  background-size: 0.75em;
  content: "";
  display: inline-block;
  height: 0.75em;
  opacity: 0.75;
  vertical-align: middle;
  width: 0.75em;
}

button[aria-controls="starlight__sidebar"] {
  @apply shadow-none;
}

button[aria-controls="starlight__sidebar"] svg {
  transform: scale(1.5);
}

body.DocSearch--active .c-help-widget,
body.DocSearch--active header .header {
  padding-right: 15px;
}

body.DocSearch--active .main-frame {
  padding-right: 15px;
}

ol + ol li aside,
ol + ol li blockquote {
  margin-inline-start: 20px;
}
