@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

@layer components {
  .kinde-headline-2 {
    @apply font-medium text-[32px] tracking-[-0.03em] leading-[40px] text-kinde-grey-900 dark:text-white;
  }

  .kinde-subhead-1 {
    @apply font-medium leading-normal tracking-tighter;
  }
}
