---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import ScalarApiReference from "@components/ScalarApiReference.astro";
---

<StarlightPage
  frontmatter={{
    title: "Kinde Account API",
    description: "For managing the currently signed-in user, includes e.g their profile, roles, permissions, billing info and revoking tokens",
    template: "splash",
    editUrl: false,
    page_id: "687ab2b7-55b1-491a-8376-19022c6fd16c"
  }}
>
  <div class="not-content frontend-api">
    <span hidden aria-hidden="true" id="docsearch-lvl0">API Reference</span>
    <span hidden aria-hidden="true" id="docsearch-lvl1">Kinde Account API reference</span>
    <ScalarApiReference specURL={import.meta.env.PUBLIC_KINDE_FRONTEND_API_SPEC_URL} />
  </div>
</StarlightPage>
