---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import ScalarApiReference from "@components/ScalarApiReference.astro";
---

<StarlightPage
  frontmatter={{
    title: "Kinde Frontend API",
    description: "The frontend API is for managing the currently signed-in user. It includes getting their profile and revoking tokens",
    template: "splash",
    editUrl: false,
    page_id: "687ab2b7-55b1-491a-8376-19022c6fd16c"
  }}
>
  <div class="not-content frontend-api">
    <span hidden aria-hidden="true" id="docsearch-lvl0">API Reference</span>
    <span hidden aria-hidden="true" id="docsearch-lvl1">Kinde Frontend API reference</span>
    <ScalarApiReference specURL={import.meta.env.PUBLIC_KINDE_MANAGEMENT_API_SPEC_URL} />
  </div>
</StarlightPage>
