---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import ScalarApiReference from "@components/ScalarApiReference.astro";
---

<StarlightPage
  frontmatter={{
    title: "Kinde Management API",
    description: "The management API is for managing your Kinde account. Most things that can be done via the Kinde admin UI can be done with this API",
    template: "splash",
    editUrl: false,
    page_id: "ef2c3b17-8654-4a6c-a493-3930000ed2d9"
  }}
>
  <div class="not-content management-api">
    <span hidden aria-hidden="true" id="docsearch-lvl0">API Reference</span>
    <span hidden aria-hidden="true" id="docsearch-lvl1">Kinde Management API reference</span>
    <ScalarApiReference specURL="/specs/kinde-management-api-spec.yaml" />
  </div>
</StarlightPage>
