---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import FooterCards from "@components/FooterCards.astro";
---

<StarlightPage
  frontmatter={{
    title: "Page not found",
    template: "splash",
    editUrl: false,
    page_id: "8ced0c9b-aac0-4385-a5a3-05304f23bdd3"
  }}
>
  <div class="404-page not-content">
    <section class="hero mx-auto max-w-2xl pb-16 text-center">
      <h1 class="mb-8 text-5xl font-medium">Sorry</h1>
      <p class="mb-8 text-lg">
        We couldn’t find the page you were looking for. It may have been moved or deleted. Please
        check the URL in the address bar and try again.
      </p>
      <p class="text-lg">
        Alternatively, you can <button
          kui-trigger="search"
          class="cursor-pointer bg-transparent font-normal text-black underline underline-offset-[.3em] dark:text-white"
          >search the docs.</button
        ></p>
    </section>
    <FooterCards />
  </div>
</StarlightPage>
