---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import FooterCards from "@components/FooterCards.astro";
import SDKSelector from "@components/SDKSelector.astro";
import SubscribeForm from "@components/SubscribeForm.astro";
import Topics from "@components/Topics.astro";
---

<StarlightPage
  frontmatter={{
    title: "Welcome",
    template: "splash",
    editUrl: false
  }}
>
  <div class="docs-index not-content">
    <section class="hero pb-16 text-center">
      <h1 class="mb-4 text-5xl font-medium">We’re here to help</h1>
      <p class="text-lg">
        Test. Start using Kinde’s admin and developer tools to build your business
      </p>
    </section>
    <section class="sdks flex flex-col items-start py-16 text-center">
      <SDKSelector id="sdk-selector" />
    </section>
    <Topics />
    <SubscribeForm />
    <FooterCards variant="white" />
  </div>
  <span id="docsearch-lvl0" hidden>Docs home</span>
</StarlightPage>
