---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import APICards from "@components/APICards.astro";
---

<StarlightPage
  frontmatter={{
    title: "Kinde APIs",
    description: "Use the Management API for account admin tasks, or the Frontend API for user profile and token management.",
    template: "splash",
    editUrl: false,
    page_id: "31b91e66-7f86-4fd9-b3c7-b4d0a2a86d6e"
  }}
>
  <div class="api-docs-index not-content">
    <section class="hero pb-16 text-center">
      <h1 class="mb-4 text-5xl font-medium">Kinde APIs</h1>
      <p class="text-lg">
        Kinde provides the following APIs for developers to consume in their applications
      </p>
    </section>
    <section class="flex flex-col gap-6 pb-16">
      <h2>See reference and test the APIs</h2>
      <APICards />
    </section>
  </div>
</StarlightPage>

<style>
  .kinde-api h2 {
    @apply text-2xl;
  }
</style>
