---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import FooterCards from "@components/FooterCards.astro";
import Note from "@components/Note.astro";
import SDKSelector from "@components/SDKSelector.astro";
import SubscribeForm from "@components/SubscribeForm.astro";
import Topics from "@components/Topics.astro";
---

<StarlightPage
  frontmatter={{
    title: "Welcome",
    template: "splash",
    editUrl: false
  }}
>
  <div class="docs-test not-content">
    <h1 class="mb-8 font-medium">Components</h1>
    <h2 class="font-medium">Note</h2>
    <Note>
      <h3>This is a title</h3>
      <p>This is a paragraph</p>
    </Note>
    <Note type="warning">
      <h3>This is a title</h3>
      <p>This is a paragraph</p>
    </Note>
    <Note type="upgrade">
      <h3>This is a title</h3>
      <p>This is a paragraph</p>
    </Note>
  </div>
</StarlightPage>
