---
import {Icon} from "astro-icon/components";
---

<button
  class="flex w-full items-center justify-start gap-2 rounded-lg border-kinde-grey-100 bg-transparent p-3 hover:cursor-pointer lg:border-[1px]"
  kui-trigger="search"
  aria-label="Search docs"
>
  <Icon name="search" size={20} />
  <span class="hidden leading-[1] text-kinde-grey-700 lg:block dark:text-white">Search docs</span>
</button>
