---
import type {Props} from "@astrojs/starlight/props";
import {Icon} from "astro-icon/components";
---

<div class="flex">
  <div class="flex items-end gap-3">
    <a href="https://kinde.com" class="site-title sl-flex">
      <Icon width={65} height={21} name="kinde-logo" aria-hidden="true" />
      <span class="sr-only">Visit Kinde’s marketing website</span></a
    >
    <a
      href="/"
      class="mb-[-1px] font-medium leading-[1] text-black no-underline underline-offset-4 hover:underline dark:text-white"
      ><span class="sr-only">Kinde</span> Docs</a
    >
  </div>
</div>
