---
import { Icon } from "astro-icon/components";
import type { Props } from "@astrojs/starlight/props";
---

<div class="flex">
  <div class="flex items-end gap-3">
    <a href="https://kinde.com" class="site-title sl-flex">
      <Icon class="dark:invert" width={65} height={21} name="kinde-logo" aria-hidden="true" />
      <span class="sr-only">Visit Kinde’s marketing website</span></a
    >
    <a
      href="/"
      class="dark:text-white text-black font-medium no-underline hover:underline underline-offset-4 leading-[1] mb-[-1px]"
      ><span class="sr-only">Kinde</span> Docs</a
    >
  </div>
</div>
