<ul class="grid list-none grid-cols-1 gap-6 p-0 sm:grid-cols-2">
  <li
    class="relative flex list-none flex-col gap-4 rounded-2xl bg-kinde-grey-50 p-12 dark:bg-kinde-grey-900"
  >
    <h3>Kinde Management API</h3>
    <p>
      For managing your Kinde account. Most things that can be done via the Kinde admin UI can be
      done with this API
    </p>
    <p
      aria-hidden="true"
      class="mt-12 text-inherit underline decoration-inherit underline-offset-[6px] transition-all hover:text-current"
    >
      Explore the Management API
    </p>
    <a
      href="/kinde-apis/management/"
      class="absolute inset-0 rounded-2xl transition duration-200 hover:ring-2 hover:ring-black focus:border-0 focus:shadow-none focus:ring-2 focus:ring-black focus-visible:overflow-hidden focus-visible:border-none focus-visible:shadow-none focus-visible:outline-black focus-visible:ring-2 focus-visible:ring-black dark:hover:ring-white dark:focus:ring-white dark:focus-visible:outline-white dark:focus-visible:ring-white"
    >
      <span class="sr-only">Go to the Kinde Management API reference docs</span>
    </a>
  </li>
  <li
    class="relative flex list-none flex-col gap-4 rounded-2xl bg-kinde-grey-50 p-12 dark:bg-kinde-grey-900"
  >
    <h3>Account API</h3>
    <p>
      For managing the currently signed-in user, includes e.g their profile, roles, permissions, billing info and revoking tokens
    </p>
    <p
      aria-hidden="true"
      class="mt-12 text-inherit underline decoration-inherit underline-offset-[6px] transition-all hover:text-current"
    >
      Explore the Account API
    </p>
    <a
      href="/kinde-apis/frontend/"
      class="absolute inset-0 rounded-2xl transition duration-200 hover:ring-2 hover:ring-black focus:border-0 focus:shadow-none focus:ring-2 focus:ring-black focus-visible:overflow-hidden focus-visible:border-none focus-visible:shadow-none focus-visible:outline-black focus-visible:ring-2 focus-visible:ring-black dark:hover:ring-white dark:focus:ring-white dark:focus-visible:outline-white dark:focus-visible:ring-white"
    >
      <span class="sr-only">Go to the Kinde Account API reference docs</span>
    </a>
  </li>
</ul>
