---
import {Icon} from "astro-icon/components";
---

<div class="c-empty-search-results not-content flex flex-col items-center gap-2 py-4 text-center">
  <Icon class="mb-5" name="empty-search-results" width={24} />
  <h3 class="kinde-subhead-1">No results found</h3>
  <p class="text-sm">
    Try searching different keywords or <a
      class="font-medium text-kinde-grey-900 no-underline underline-offset-[0.3em] hover:underline"
      href="/"
    >
      browse the docs
    </a>
  </p>
</div>
