---
import {FileTree as AstroFileTree} from "@astrojs/starlight/components";
---

<div class="c-file-tree not-content">
  <AstroFileTree>
    <slot />
  </AstroFileTree>
</div>

<style>
  :global(.c-file-tree starlight-file-tree) {
    @apply bg-kinde-grey-50 border-none rounded-lg;
  }

  :global([data-theme="dark"] .c-file-tree starlight-file-tree) {
    @apply bg-kinde-grey-900 rounded-lg border-none;
  }

  :global(.c-file-tree starlight-file-tree .directory > details > summary:hover),
  :global(.c-file-tree starlight-file-tree .directory > details > summary:hover svg) {
    @apply text-black fill-black;
  }

  :global(
      [data-theme="dark"] .c-file-tree starlight-file-tree .directory > details > summary:hover
    ),
  :global(
      [data-theme="dark"] .c-file-tree starlight-file-tree .directory > details > summary:hover svg
    ) {
    @apply text-white fill-white;
  }

  :global(.c-file-tree starlight-file-tree .tree-entry .highlight) {
    @apply bg-kinde-grey-900;
  }
</style>
