---
import { FileTree as AstroFileTree } from "@astrojs/starlight/components";
---

<div class="not-content file-tree">
  <AstroFileTree>
    <slot />
  </AstroFileTree>
</div>

<style>
  :global(.file-tree starlight-file-tree) {
    @apply bg-kinde-grey-50 border-kinde-grey-200 rounded-2xl;
  }

  :global(.file-tree starlight-file-tree .tree-entry .highlight) {
    @apply bg-kinde-grey-900;
  }
</style>
