---
import {Icon} from "astro-icon/components";

interface Props {
  type?: "info" | "warning" | "danger" | "upgrade";
  title?: string;
}

const noteData = {
  info: {
    icon: "info"
  },
  warning: {
    icon: "alert-triangle"
  },
  danger: {
    icon: "alert-triangle"
  },
  upgrade: {
    icon: "supercharge-filled"
  }
};

const {type = "info", title} = Astro.props;
---

<aside
  aria-label={title ?? type.toUpperCase()}
  class:list={[
    "kinde-note not-content px-6 py-8 rounded-2xl flex flex-col md:flex-row gap-4 md:gap-5 items-start",
    {
      [`kinde-note--${type}`]: true
    }
  ]}
>
  <div class="note-header flex items-center">
    <Icon name={noteData[type].icon} size={24} />
  </div>
  <div
    class:list={[
      "flex flex-col",
      {
        ["gap-3"]: title
      }
    ]}
  >
    <div class="note-title text-lg font-medium">
      {title ?? <div aria-hidden="true">{title}</div>}
    </div>
    <div class="note-body">
      <slot />
    </div>
  </div>
</aside>

<style>
  :global(.note-body .expressive-code) {
    @apply mt-4;
  }

  :global(.note-body > * + *) {
    @apply mt-4;
  }

  .kinde-note--info {
    @apply bg-kinde-blue-100 dark:bg-kinde-blue-900/40 text-kinde-blue-900 dark:text-kinde-blue-100;
  }

  .kinde-note--warning {
    @apply bg-kinde-amber-100 dark:bg-kinde-amber-900/40 text-kinde-amber-900 dark:text-kinde-amber-100;
  }

  .kinde-note--danger {
    @apply bg-kinde-red-100 dark:bg-kinde-red-900/40 text-kinde-red-900 dark:text-kinde-red-100;
  }

  .kinde-note--upgrade {
    @apply bg-kinde-purple-100 dark:bg-kinde-purple-500/40 text-kinde-purple-500 dark:text-kinde-purple-100;
  }

  .kinde-note--info :global(code) {
    @apply bg-kinde-blue-900/5 text-kinde-blue-900 border-none;
  }

  .kinde-note--warning :global(code) {
    @apply bg-kinde-amber-900/5 text-kinde-amber-900 border-none;
  }

  .kinde-note--danger :global(code) {
    @apply bg-kinde-red-900/5 text-kinde-red-900 border-none;
  }

  :global(.kinde-note--upgrade code) {
    @apply bg-kinde-purple-500/5 text-kinde-purple-500 border-none dark:bg-kinde-purple-100;
  }
</style>
