---
import Button from "./Button.astro";

const appURL = `https://app.kinde.com`;
const appRootDomain = `kinde.com`;
---

<section class="subscribe-form flex w-full flex-col gap-12 py-16">
  <div class="flex flex-col gap-4">
    <h2 class="kinde-headline-2">Stay in the loop</h2>
    <p>Hear from us about product updates, news and cool things in the startup ecosystem.</p>
  </div>
  <form
    method="post"
    action={`${appURL}/widgets/subscribe/v1/subscribe`}
    data-kui-form="true"
    novalidate
    id="id__kui_form"
  >
    <!-- do not remove this or risk form bot signups -->
    <div class="sr-only" aria-hidden="true">
      <input
        data-kui-element="true"
        type="text"
        id="id__kui_p_0fb67a0e1d7d47c0b12ec7c0af02dd16"
        name="p_0fb67a0e1d7d47c0b12ec7c0af02dd16"
        tabindex={-1}
        value=""
      />
    </div>

    <div class="kuiembed-form">
      <div class="kuiembed-field">
        <label class="kinde-subhead-1 mb-2 block" data-kui-name="new_name" for="id__kui_new_name"
          >Name
        </label>
        <input
          class="kuiembed-input-field__name"
          type="text"
          id="id__kui_new_name"
          data-kui-element="true"
          name="new_name"
          required
        />
      </div>
      <div class="kuiembed-field">
        <label class="kinde-subhead-1 mb-2 block" data-kui-name="new_email" for="id__kui_new_email"
          >Email
        </label>
        <input
          class="kuiembed-input-field__email"
          type="email"
          name="new_email"
          id="id__kui_new_email"
          data-kui-element="true"
          autocomplete="email"
          required
        />
      </div>
      <div class="kuiembed-field flex flex-col">
        <Button type="submit" text="Subscribe" isFullWidth />
      </div>
    </div>
    <p data-kui-element="true" id="id__kui_message" class="kuiembed-message"></p>
  </form>
</section>

<style>
  .kuiembed-field {
    @apply w-full mb-8;
  }

  .kuiembed-field input {
    @apply bg-white dark:bg-black border-[1px] border-kinde-grey-200 rounded-md h-12 px-3 py-4 w-full;
  }

  .kuiembed-form {
    @apply grid items-end grid-cols-1 gap-0 md:gap-6 md:grid-cols-[2fr_2fr_1fr];
  }
</style>

<script defer nonce="2726c7f26c" src={`https://widgets.${appRootDomain}/v1/js/subscribe.js`}
></script>
