---
import { Icon } from "astro-icon/components";
---

<section class="not-content support px-0 py-16">
  <ul class="mx-auto grid w-full grid-cols-1 gap-6 px-0 md:grid-cols-2">
    <li
      class="relative flex list-none flex-col gap-4 rounded-2xl bg-kinde-grey-50 p-12 dark:bg-kinde-grey-900"
    >
      <Icon name="team-three" size={32} />
      <h2 class="">Need more support?</h2>
      <p>Get support from the Kinde team and expert users in our communities — join us now!</p>
      <div class="flex gap-6">
        <a class="dark:hover:!text-white" href="https://discord.gg/wHX6j7wG5d" target="_blank"> Discord</a>
        <a class="dark:hover:!text-white"
          href="https://join.slack.com/t/thekindecommunity/shared_invite/zt-26hdaavyc-CfOa06vP23guSwK~~OpFMQ"
          target="_blank"
        >
          Slack
        </a>
      </div>
    </li>
    <li
      class="relative flex list-none flex-col gap-4 rounded-2xl bg-kinde-grey-50 p-12 dark:bg-kinde-grey-900"
    >
      <Icon name="talk-1" size={32} />
      <h2 class="">Can’t find a function or feature?</h2>
      <p>
        Tell us what you need and how it will help your business, and we’ll try to make it happen
      </p>
      <div class="flex gap-6">
        <a
          class="no-underline hover:underline hover:underline-offset-[6px] dark:hover:!text-white"
          href="https://kinde-21631392.hs-sites.com/en-au/feature-request"
          target="_blank"
        >
          Submit a request
        </a>
      </div>
    </li>
  </ul>
</section>
