---
import {Icon } from "astro-icon/components"
---

<section class="talk-to-us not-content px-0 py-12">
  <div class="flex flex-col gap-4 rounded-2xl bg-kinde-grey-50 p-12 dark:bg-kinde-grey-900">
    <Icon name="talk-1" size={32} />
    <h2 class="text-2xl font-medium leading-snug">Talk to us</h2>
    <p class="mb-2">If you can’t find what you’re looking for in our help center—email our team</p>
    <a
      href="mailto:support@kinde.com"
      class="font-medium text-kinde-grey-900 no-underline underline-offset-[6px] hover:underline dark:text-white"
      target="_blank">Contact support</a
    >
  </div>
</section>
