---
import {Icon} from "astro-icon/components";
import sidebarData from "@data/sidebarData";

const links = {
  "Get started": "first-things-first/",
  "Build on Kinde": "kinde-business-model/",
  "SDKs and APIs": "our-sdks/",
  "Auth and access": "about-authentication/",
  "Plans and payments": "",
  Design: "apply-branding-for-an-organization/",
  Properties: "#",
  "Manage users": "",
  "Features and releases": "about-feature-flags/",
  Integrations: "add-connected-apps/",
  "Manage your account": "view-kinde-plan/",
  "Trust center": "compliance/"
} as any;
---

<ul class="topics grid grid-cols-1 gap-6 px-0 py-16 md:grid-cols-2 lg:grid-cols-3">
  {
    sidebarData?.map((topic, index) => (
      <li class="relative flex list-none flex-col gap-4 rounded-2xl bg-kinde-grey-50 p-12 dark:bg-kinde-grey-900">
        <Icon class="dark:filter:invert-1" name={topic.icon ?? "kinde-logo"} size={32} />
        <h2 class="">{topic.label}</h2>
        <p>{topic.description}</p>
        <a
          href={`${sidebarData[index].items[0]?.autogenerate?.directory ?? ""}/${
            links[topic.label]
          }`}
          class="absolute inset-0 rounded-2xl transition duration-200 hover:ring-2 hover:ring-black focus:border-0 focus:shadow-none focus:ring-2 focus:ring-black focus-visible:overflow-hidden focus-visible:border-none focus-visible:shadow-none focus-visible:outline-black focus-visible:ring-2 focus-visible:ring-black dark:hover:ring-white dark:focus:ring-white dark:focus-visible:outline-white dark:focus-visible:ring-white"
        >
          <span class="sr-only">{topic.label}</span>
        </a>
      </li>
    ))
  }
</ul>
